
body {
    height: 100%;
    width: 100%;
    background: #bbccff;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 120%;
    align-content: center;
    display: inline-block;
    margin:0; 
    padding:0;
}
ul {
    display: inline-block;
    text-align: left;
}

footer {
    width: 100%;
    background: #9baad8;
    padding: 10px;
    border-top: 3px solid #293c42;
    text-align: center;
}

h1::before,
h1::after {
            content: '';
            background: #feea3b;
            display: inline-block;
            height: 2px;
            vertical-align: middle;
            width: 30%;
        }
       
html {
    font-family: Verdana, Geneva, sans-serif;
}

a {
    color: white;
}